Source: osso-bookmark-engine
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends: debhelper (>= 5), libtool, pkg-config,
 libglib2.0-dev, libxml2-dev, libgconf2-dev

Package: osso-bookmark-engine
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Bookmark engine for the Bookmark application.

Package: osso-bookmark-engine-dev
Architecture: any
Section: devel
Depends: osso-bookmark-engine
Description: Bookmark engine for the Bookmark application.
  This package contains development header files

Package: osso-bookmark-engine-dbg
Architecture: any
Section: devel
Depends: osso-bookmark-engine (= ${binary:Version})
Description: Bookmark engine for the Bookmark application.
  This package contains debug symbols
